/* ===== GLOBAL ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#d8d8d8;
    overflow-x:hidden;
}

/* ===== HEADER ===== */

.header{
    width:100%;
    height:90px;

    background:
    linear-gradient(rgba(77,0,110,.90), rgba(77,0,110,.90)),
    url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?q=80&w=1974&auto=format&fit=crop");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:flex-start;
    justify-content:space-between;

    padding:14px 22px;
}

.logo{
    color:white;
    font-size:40px;
    font-weight:300;
}

.gear{
    color:white;
    font-size:46px;
    cursor:pointer;
}

/* ===== CARD ===== */

.card{
    width:100%;
    background:#f3f3f3;

    border-bottom-left-radius:18px;
    border-bottom-right-radius:18px;

    text-align:center;

    padding-top:35px;
    padding-bottom:70px;

    position:relative;
}

.card h2{
    font-size:62px;
    font-weight:300;

    margin-bottom:38px;
}

.subtitle{
    font-size:24px;

    margin-bottom:35px;
}

.public-link{
    color:red;
    text-decoration:none;

    font-size:58px;
    font-weight:300;
}

/* ===== DROPDOWN ===== */

.dropdown{
    position:absolute;

    top:10px;
    right:35px;

    width:138px;

    background:#cfcfcf;

    border-radius:16px;

    overflow:hidden;
}

.dropdown a{
    display:block;

    text-decoration:none;

    color:black;

    font-size:20px;

    padding:24px 0;

    border-bottom:2px solid #aaaaaa;
}

.dropdown a:last-child{
    border-bottom:none;
}

/* ===== BUTTON SECTION ===== */

.buttons{
    display:flex;
    justify-content:space-around;
    align-items:center;

    margin-top:28px;
    margin-right:-625px;
}

.item{
    text-align:center;
}

.circle{
    width:190px;
    height:190px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    box-shadow:
    inset 0 0 18px rgba(255,255,255,.25),
    0 4px 8px rgba(0,0,0,.15);
}

.circle i{
    color:white;
    font-size:95px;
}

.green{
    background:#16c516;
}

.blue{
    background:#3d78ff;
}

.item p{
    margin-top:18px;

    font-size:44px;
    font-weight:300;
}

/* ===== RESPONSIVE ===== */

@media(max-width:900px){

    .card h2{
        font-size:42px;
    }

    .public-link{
        font-size:28px;
    }

    .buttons{
        flex-direction:column;
        gap:45px;
        padding-bottom:40px;
    }

    .circle{
        width:150px;
        height:150px;
    }

    .circle i{
        font-size:70px;
    }

    .item p{
        font-size:30px;
    }

    .dropdown{
        position:static;
        margin:30px auto 0;
    }
}