* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* HERO SECTION */
.hero {
    background: url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6") center/cover no-repeat;
    height: 55vh;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.overlay h1 {
    font-size: 48px;
}

.overlay h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.signup {
    background-color: #37b3ff;
}

.login {
    background-color: #ff3b3b;
}

/* FEATURES SECTION */
.features {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}

.feature {
    text-align: center;
}

.circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.blue {
    background: #2e7df6;
}

.green {
    background: #25a52b;
}

.red {
    background: #ff1f1f;
}

.feature p {
    margin-top: 20px;
    font-size: 36px;
}
a{
    text-decoration: none;
}
